In [ ]:
print("Hello World")

In [ ]:
print(10+2*3)                           #Python work on mathematical method

In [ ]:
a,b,c=4,5,6
print(a,b,c,sep="-")

In [4]:
a,b,c=4,5,6
print(a,b,c,end="#")

4 5 6#

In [5]:
name="Harsh Meena"
print(name.upper())
print(name.lower())
print(name.find('M'))
print(name.find('m'))
print(name.replace('M','T'))
print(name.replace("Harsh","Ram"))
print(name.replace('S','R'))
print('H' in name)
print('A' in name)
print("Meena" in name)
print("Harsh" not in name)

HARSH MEENA
harsh meena
6
-1
Harsh Teena
Ram Meena
Harsh Meena
True
False
True
False

# Range

In [6]:
ls = []
for i in range(1,101):
    print(i, end=" ")
    ls.append(i)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [7]:
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Loops
for:                       
    for iterating_variable in sequence:                
    statement - 1                 
                    
while:                 
                
Control Flow Statements:                
                        --> break      (Jump not in python)                
                        --> continue   (Skip not in python)                
                        --> pass

In [8]:
i = 1
while i <= 10:
    print(i, end=" ") 
    i += 1

1 2 3 4 5 6 7 8 9 10

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
n=int(input("Number:"))
for i in range(1,n+1):
    print(i * '*')

# break
used to exit a loop

In [ ]:
i = 1
while i <= 10:
    print(i, end=" ")
    if i == 5:
        break
    i += 1

# continue
skips the rest of the code in the current loop

In [13]:
i = 0
while i <= 10:
    i += 1
    if i == 5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10 11

# pass
Does nothing, just a placeholder

In [14]:
i = 0
while i < 10:
    i += 1
    if i == 5:
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [16]:
ls = ["arayan", "karan", "piyush", "kapil", "charu", "shivanjali", "mohit"]

In [1]:
ls = [1,2,3,4,5,6,7,8,9,10]
tp = (1,2,3,4,5,6,7,8,9,10)
st = "python is awesome"
dt = {"name":"kismat", "course":"python", "city":"jaipur"}
st1 = {1,2,3,4,5}

In [17]:
"charu" in ls

True

In [19]:
for i in ls:
    if i == "kapil":
        break
    print(i)

arayan
karan
piyush

In [21]:
l1=[1,2,3,4]
l2=[6,7,8,9]
l3=[]
for i in range(len(l1)):
    a=l1[i]+l2[i]
    l3.append(a)
print(l3)

[7, 9, 11, 13]

In [22]:
ls2 = [[i for i in range(1,4)] for j in range(1,5)]
print(ls2)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

s = "my no is:"                # Error              
num = int("25")              
print(s + num)              
print(s , num)

Real: hii harsh meena                         
Upper case: HII HARSH MEENA           
Lower case: hii harsh meena             
Capitalized: Hii harsh meena            
Title case: Hii Harsh Meena